## Extracting tables from MPESA statements

#### Resources:
- [Better Programming](https://betterprogramming.pub/convert-tables-from-pdfs-to-pandas-with-python-d74f8ac31dc2)
- [Towards Data Science](https://towardsdatascience.com/how-to-extract-tables-from-pdf-using-python-pandas-and-tabula-py-c65e43bd754)

#### To do :

##### Remaining PDFs
- [X] Extract CSV from remaining PDFs
- [X] Combine all PDF data into a single DF for further analysis

##### Further clean up
 - [X] drop transaction status
 - [X] balance

##### Extract specific transactions 

 - [X] Pay bill charges total
 - [X] Create columns for other charges
 - [X] WFH related transactions copy into separate DF/CSV for further analysis

##### Prepare for labeling and prediction

 - [X] Split date columns into YYYY, MM, DD, HH, MM, Day of the Week, Weekday vs Weekend

##### Natural Language 

 - [ ] Explore approaches, Natural Language models to make sense of the Details code
 - [ ] To explore Can use Receipt No as key? Is there a pattern to the MPESA codes?


##### Other
 - [ ] PDF In (e.g via email, copy to storage bucket, cloud function to convert to CSV and/or SQL db/warehouse 
 - [ ]

In [1]:
# imports

import tabula
import pandas as pd

# For no-code exploration using Bamboo Lib
# https://docs.bamboolib.8080labs.com/documentation/how-tos/installation-and-setup/install-bamboolib
#import bamboolib as bam

In [2]:
# Define directory and file names where PDFs are located
# Can be customized 

directory = "~/dev/pdf/"
file = "20200101_20200630.pdf"
file_path = directory + file

### 1 - Processing a single PDF file at a time

In [3]:
#Convert the first page

#list_df = tabula.read_pdf(file_path)

# Output is a list of two dataframes  because the first page of MPESA statement has a summary table (list_df[0])  
# followed by a detailed table list_df[1].

# But we would need to convert the entire table.

In [4]:
#Convert the entire document

#list_df = tabula.read_pdf(file_path, pages='all')

# Output is a list of dataframes. The list is of length N + 1 where N is the number of pages in the PDF 
# because the first page of MPESA statement has a summary table (list_df[0]) , 
# followed by a detailed table list_df[1]. Each subsequent page because an dataframe element in the list.

In [5]:
# First element
#df_summary = list_df[0]

In [6]:
# Rest of the elements are the detailed MPESA transactions 

#df_detail = pd.concat(list_df[1:len(list_df)],ignore_index=True)

In [7]:
# Drop last column which has no relevant data. 
# The remaining data frame now corresponds to the details of transactions

#df_detail.drop(df_detail.columns[[7]],axis = 1, inplace = True)

In [8]:
#Clean up - rename \r to " " or "" in case of column name 'Withdraw\rn'

#df_detail.replace(to_replace=[r"\r"],value=[" "],regex=True, inplace=True)
#df_detail.rename(columns = {'Withdraw\rn':'Withdrawn'}, inplace=True)

In [9]:
#df_detail.describe()

In [10]:
# Save Files
# Define CSV file name for the converted data

#file_csv_2020H1 = "20200101_20200630.csv"
#file_csv = "mpesa_2020_2021.csv"
#file_wfch_csv = "wfch_2020_2021.csv"

# Save as CSV
#df_detail.to_csv(file_csv_2020H1)

### 2 - Processing all PDFs in a directory at once

In [11]:
# Initialize the data frame that will contain the complete set of data after conversion
df_all = pd.DataFrame()

In [12]:
# In order to list directory content we need the os package

import os

#Customize this

pdf_dir = ("/Users/josiah/dev/pdf/files/")

# Loop through the contents of provided directory, filter PDF, 

for pdf in os.listdir(pdf_dir):
    #Filter PDF (just checks the extension for now)
    if pdf.endswith(".pdf"):
        # read pdf into df
        print("Processing ",pdf)
        df_single = tabula.read_pdf(pdf_dir+pdf, pages='all')
        df_single_detail = pd.concat(df_single[1:len(df_single)],ignore_index=True)
        df_all = pd.concat([df_single_detail, df_all], axis=0, ignore_index=True)

Processing  20200701_20201231.pdf
Processing  20210701_20211231.pdf
Processing  20200101_20200630.pdf
Processing  20210101_20210630.pdf

In [13]:
# Drop last column which has no relevant data. The remaining data frame now corresponds to the details of transactions
df_all.drop(df_all.columns[[7]],axis = 1, inplace = True)

In [14]:
# Clean up - rename \r to " " or "" in case of column name 'Withdraw\rn'

df_all.replace(to_replace=[r"\r"],value=[" "],regex=True, inplace=True)
df_all.rename(columns = {'Withdraw\rn':'Withdrawn'}, inplace=True)

In [15]:
df_all

,Receipt No,Completion Time,Details,Transaction Status,Paid in,Withdrawn,Balance
0,PFU5QQY3KB,2021-06-30 12:34:48,Merchant Payment Online to 464931 - Nairobi Ja...,COMPLETED,0.0,220.00,413.70
1,PFU4QG7NE8,2021-06-30 08:50:18,Merchant Payment Online to 7327177 - PETE'S CA...,COMPLETED,0.0,600.00,633.70
2,PFT3PJT8H5,2021-06-29 15:02:07,Merchant Payment Online to 628539 - JAVA ASTROL,COMPLETED,0.0,280.00,"1,233.70"
3,PFS4NL71CA,2021-06-28 08:03:53,Merchant Payment Online to 628539 - JAVA ASTROL,COMPLETED,0.0,320.00,"1,513.70"
4,PFR2MN0U1Q,2021-06-27 13:19:21,Pay Bill Online to 506279 - KAPS PARKING Acc. ...,COMPLETED,0.0,100.00,"1,833.70"
...,...,...,...,...,...,...,...
1037,OG31G5UZWX,2020-07-03 15:10:43,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,COMPLETED,0.00,50.00,"10,731.40"
1038,OG27FNANGZ,2020-07-02 21:22:17,Pay Bill Online to 303030 - Absa Bank Kenya PL...,COMPLETED,0.00,"25,000.00","10,781.40"
1039,OG26FN6MT6,2020-07-02 21:18:28,Business Payment from 329299 - STANDARD CHARTE...,COMPLETED,"25,000.00",0.00,"35,781.40"
1040,OG23F5JJMX,2020-07-02 14:43:36,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,COMPLETED,0.00,50.00,"10,781.40"
1041,OG15E5JZY3,2020-07-01 14:30:41,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,COMPLETED,0.00,50.00,"10,831.40"

### 3 - Wrangling: Format column data types.

In [16]:
#drop 'transaction status' and 'balance' as they are not necessary

df_all.drop(df_all.columns[[3,6]],axis = 1, inplace = True)

In [17]:
# Convert Date / Time field

df_all['Completion Time'] = pd.to_datetime(df_all['Completion Time'], infer_datetime_format=True)

In [18]:
# helper function to convert string number value to a float
# adapted from https://pbpython.com/pandas_dtypes.html

def to_float(val):
    """
    Convert the string number value to a float
     - Remove $ if present
     - Remove commas
     - Convert to float type
    """
    # first check if val is a float
    if isinstance(val, float):
        return val
    else:
        new_val = val.replace(',','').replace('$', '').replace(' ','')
        return float(new_val)

# Can also be applied as a lambda function but this doesn't check if it is a float first
# df_all['Withdrawn'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

In [19]:
# Convert 'Withdrawn' and 'Paid In' column number values from string to float

df_all['Withdrawn'] = df_all['Withdrawn'].apply(to_float)
df_all['Paid in'] = df_all['Paid in'].apply(to_float)

# Convert Receipt No and Details to string

df_all['Receipt No'] = df_all['Receipt No'].astype('string')

In [21]:
# Save as CSV
#df_all.to_csv(file_csv)

In [22]:
df_all

,Receipt No,Completion Time,Details,Paid in,Withdrawn
0,PFU5QQY3KB,2021-06-30 12:34:48,Merchant Payment Online to 464931 - Nairobi Ja...,0.0,220.0
1,PFU4QG7NE8,2021-06-30 08:50:18,Merchant Payment Online to 7327177 - PETE'S CA...,0.0,600.0
2,PFT3PJT8H5,2021-06-29 15:02:07,Merchant Payment Online to 628539 - JAVA ASTROL,0.0,280.0
3,PFS4NL71CA,2021-06-28 08:03:53,Merchant Payment Online to 628539 - JAVA ASTROL,0.0,320.0
4,PFR2MN0U1Q,2021-06-27 13:19:21,Pay Bill Online to 506279 - KAPS PARKING Acc. ...,0.0,100.0
...,...,...,...,...,...
1037,OG31G5UZWX,2020-07-03 15:10:43,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,0.0,50.0
1038,OG27FNANGZ,2020-07-02 21:22:17,Pay Bill Online to 303030 - Absa Bank Kenya PL...,0.0,25000.0
1039,OG26FN6MT6,2020-07-02 21:18:28,Business Payment from 329299 - STANDARD CHARTE...,25000.0,0.0
1040,OG23F5JJMX,2020-07-02 14:43:36,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,0.0,50.0
1041,OG15E5JZY3,2020-07-01 14:30:41,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,0.0,50.0

#### WFCH Specific Analysis

In [23]:
# Filter out a specific MPESA till number (WFCH) for subsequent analysis. 
df_wfch = df_all[df_all['Details'].str.contains("904963")].reset_index(drop=True).sort_values(by=['Completion Time'])

In [24]:
# Save output
#df_wfch.to_csv(file_wfch_csv)

In [ ]:
# 48000 - 2021, 42000 - 2020

#Need to extract the Loop Transactions too - Looks like two transactions of 3000 each

In [25]:
# 2 Year Costs for Service Charge
service_charge_paid = df_wfch['Withdrawn'].sum()
service_charge_actual = 72000.0
print("Service Charge Paid: ", service_charge_paid)
print("Service Charge Actual: ", service_charge_actual)
print("Surplus: ", (service_charge_paid - service_charge_actual))

Service Charge Paid:  90000.0
Service Charge Actual:  72000.0
Surplus:  18000.0

### 4 - More Columns: From date + extract various charges

In [26]:
df = df_all

In [27]:
# Create new columns for Day, Month, Week, Year, hour
df['year'] = pd.DatetimeIndex(df['Completion Time']).year
df['month'] = pd.DatetimeIndex(df['Completion Time']).month
df['day'] = pd.DatetimeIndex(df['Completion Time']).day
df['hour'] = pd.DatetimeIndex(df['Completion Time']).hour

# Create a new column for "day of the week, with Monday=0 and ending with Sunday=6
df['dayofweek'] = pd.DatetimeIndex(df['Completion Time']).dayofweek

# Create a new column to distinguish weekdays and weekends
df['isweekend'] = pd.DatetimeIndex(df['Completion Time']).dayofweek >=5

In [ ]:
# Create a temp DF for all transactions without paybill charges
#df_nopaybill = df[~df['Details'].str.contains("Pay Bill Charge")].reset_index(drop=True)

In [ ]:
# Create temp DF with columns Receipt No and Pay Bill Charges
#df_paybillcharges = df[df['Details'].str.contains("Pay Bill Charge")][["Receipt No","Withdrawn"]].reset_index(drop=True)
# Rename Withdrawn to Pay Bill Charges
#df_paybillcharges.rename(columns={"Withdrawn":"Pay Bill Charge"},inplace="true")

In [ ]:
# Merge temp DF without paybill charges with temp DF of Paybill Charges on Receipt No 
#df_new = pd.merge(df_nopaybill,df_paybillcharges, on="Receipt No", how="left").reset_index(drop="true")

In [ ]:
# Fill NaN with 0's for Receipt No's that have NaN as Pay Bill Charge
#df_new["Pay Bill Charge"] = df_new["Pay Bill Charge"].fillna(0)

In [ ]:
# Create a temp DF for all transactions without Fund Transfer Charges
#df_temp1 = df_new[~df_new["Details"].str.contains("Customer Transfer of Funds Charge")].reset_index(drop=True)

In [28]:
# Helper function
# - input - list of strings of text we want to convert from df row to column, current df.
# - Output - DF with new columns added

def df_add_new_column(df_current, column_key, column_value,
                      column_to_search, list_of_strings):
    """
    add new column or columns to provided dataframe when string in list_of_strings is matched to column_name
     - input: dataframe, column_key, column to search, column_value to retain , list of strings to search for a match in column provided, column_name_value
     - output: dataframe with added column or columns. Number of new columns = length of list provided
    """
    # Check if column_name and list_of_strings are provided.
    # To add
    
    for string in list_of_strings:
        df_1 = df_current[~df_current[column_to_search].str.contains(string)].reset_index(drop=True)
        df_2 = df_current[df_current[column_to_search].str.contains(string)][[column_key,column_value]].reset_index(drop=True)
        df_2.rename(columns={column_value:string},inplace=True)
        df_current = pd.merge(df_1,df_2, on=column_key, how="left").reset_index(drop=True)
        df_current[string] = df_current[string].fillna(0)
    return df_current

In [29]:
column_key = "Receipt No"
column_value = "Withdrawn"
column_to_search = "Details"
list_of_strings = ["Pay Bill Charge","Pay Merchant Charge","Customer Transfer of Funds Charge", "Withdrawal Charge", "Customer Send Money To Unregistered User Charge"]
string = list_of_strings[0]

In [30]:
df_pretrain = df_add_new_column(df,column_key,column_value,column_to_search,list_of_strings)

In [31]:
df_pretrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811 entries, 0 to 810
Data columns (total 16 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Receipt No                                       811 non-null    string
 1   Completion Time                                  811 non-null    datetime64[ns]
 2   Details                                          811 non-null    object
 3   Paid in                                          811 non-null    float64
 4   Withdrawn                                        811 non-null    float64
 5   year                                             811 non-null    int64
 6   month                                            811 non-null    int64
 7   day                                              811 non-null    int64
 8   hour                                             811 non-null    int64
 9   dayofweek                                        811 non-null    int64
 10  isweekend                                        811 non-null    bool
 11  Pay Bill Charge                                  811 non-null    float64
 12  Pay Merchant Charge                              811 non-null    float64
 13  Customer Transfer of Funds Charge                811 non-null    float64
 14  Withdrawal Charge                                811 non-null    float64
 15  Customer Send Money To Unregistered User Charge  811 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(7), int64(5), object(1), string(1)
memory usage: 96.0+ KB

In [32]:
df_pretrain.to_csv("pretrain.csv")

In [33]:
df_pretrain

,Receipt No,Completion Time,Details,Paid in,Withdrawn,year,month,day,hour,dayofweek,isweekend,Pay Bill Charge,Pay Merchant Charge,Customer Transfer of Funds Charge,Withdrawal Charge,Customer Send Money To Unregistered User Charge
0,PFU5QQY3KB,2021-06-30 12:34:48,Merchant Payment Online to 464931 - Nairobi Ja...,0.0,220.0,2021,6,30,12,2,False,0.0,0.0,0.0,0.0,0.0
1,PFU4QG7NE8,2021-06-30 08:50:18,Merchant Payment Online to 7327177 - PETE'S CA...,0.0,600.0,2021,6,30,8,2,False,0.0,0.0,0.0,0.0,0.0
2,PFT3PJT8H5,2021-06-29 15:02:07,Merchant Payment Online to 628539 - JAVA ASTROL,0.0,280.0,2021,6,29,15,1,False,0.0,0.0,0.0,0.0,0.0
3,PFS4NL71CA,2021-06-28 08:03:53,Merchant Payment Online to 628539 - JAVA ASTROL,0.0,320.0,2021,6,28,8,0,False,0.0,0.0,0.0,0.0,0.0
4,PFR2MN0U1Q,2021-06-27 13:19:21,Pay Bill Online to 506279 - KAPS PARKING Acc. ...,0.0,100.0,2021,6,27,13,6,True,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,OG31G5UZWX,2020-07-03 15:10:43,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,0.0,50.0,2020,7,3,15,4,False,0.0,0.0,0.0,0.0,0.0
807,OG27FNANGZ,2020-07-02 21:22:17,Pay Bill Online to 303030 - Absa Bank Kenya PL...,0.0,25000.0,2020,7,2,21,3,False,0.0,0.0,0.0,0.0,0.0
808,OG26FN6MT6,2020-07-02 21:18:28,Business Payment from 329299 - STANDARD CHARTE...,25000.0,0.0,2020,7,2,21,3,False,0.0,0.0,0.0,0.0,0.0
809,OG23F5JJMX,2020-07-02 14:43:36,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,0.0,50.0,2020,7,2,14,3,False,0.0,0.0,0.0,0.0,0.0
810,OG15E5JZY3,2020-07-01 14:30:41,Pay Bill Online to 776611 - JAMII TELECOMMUNIC...,0.0,50.0,2020,7,1,14,2,False,0.0,0.0,0.0,0.0,0.0

### 5 - Dig into "Details"