About 

- refresh + ramp up up my data engineering + data science skills (including leveraging cloud platforms like GCPs, AWS, Azure, etc)
- tinker creatively (I have several personal projects along with this) and keep learning and exploring


## pf_assistant = Personal Finance Assistant

by Josiah Mugambi 

Key premise is that most people don't actively / daily track their expenses because it is tedious and boring.

- eventually create a personal finance assistant that takes care of the mundane and tedious personal financial tracking while providing financial insights and advice based on spending 


#### 26th Nov 2021


Started by dumping all my texts and axported my texts using SMS Backup and Restore. This creates an XML dump.
I need to figure out how parse this, but for now I used the toool on the website then copy-pasted to excel.
Formated the phone numbers that as text (Custom -> Chose 0) then exported to CSV
Loaded new CSV as a Pandas Data frame and did some basic cleanup

First thing I want to do is categorize all my text messages.

#### 10th Dec 2021
Took a break to catch up on prep for Google's Professional Cloud Architect certification exam (which I passed!). Was really hard. I'm hoping to sit the Professional Data Engineer certification exam sometimes in January so for the next few weeks will be tinkering on GCP's data products along with Jupyter while on this (side) project.

Started on a little feature engineering on Jupyter. A short working session. Created new columns from the date column into year, month, day, and hour along with actual time. Useful to analyze later. Added a new column for category. Goal now is to categorize these. Next time - perhaps work with ~100 rows randomly selected to start with, categorize 40 by hand, then see if I can implement a multi-class classifier to do the rest. 


I'll also attempt to model the same on BigQuery ML and see how the results vary

Also a [little reading](https://towardsdatascience.com/stop-persisting-pandas-data-frames-in-csvs-f369a6440af5) on best way to persist pandas data. Parquet can be natively read into BigQuery. Not sure about Pickle. However pickle is a native python format.

Felt very rusty but I think I know where I want to go. Stuff will come back to me along with the new things I'm learning, and I'll be able to move faster.


#### 14th Dec 2021

Goals for the day
 - [x] Organize texts by year (2018,2019,2020,2021) 
 - [X] randomly select ~100-150 rows from 2018. [This](https://datatofish.com/random-rows-pandas-dataframe/) was useful.
 - [X] take ~70% as training data and 30% as test data
 - [ ] label the 70% training data
 - [ ] attempt to classify 2019
 - [ ] put some content up on learn.mugambi.co.ke 

Quickly learning that labelling data will take far longer than expensive (it's tedious!)

T.B.C next time

Just realized that the meat of the work might be to make sense of the actual text messages?

Future goals: - some NLP on the body of the text in order to determine category, along with sender?

#### 16th Dec 2021

Goals for the day
- [X] label the small dataset
- [X] figure out and implement a better way to do the training/test data split
    there are several ways. will try go through them at different points.
- [ ] explore different classifiers
- [ ] put some content up on learn.mugambi.co.ke

In [2]:
# Imports 
import pandas as pd

# First some no-code exploration using Bamboo Lib
# https://docs.bamboolib.8080labs.com/documentation/how-tos/installation-and-setup/install-bamboolib

import bamboolib as bam

#### Data Preparation

- Exported my texts using SMS Backup and Restore. This creates an XML dump. 
- I need to figure out how parse this, but for now I used the toool on the website then copy-pasted to excel
- formated the phone numbers that as text (Custom -> Chose 0) then exported to CSV

In [ ]:
#df = pd.read_csv (rawfile)
#print(df)

In [ ]:
#Convert column type to datetime
#df['DATE'] = pd.to_datetime(df['DATE'], infer_datetime_format=True)
#df

In [ ]:
# Only need TYPE = Received for now, drop Sent
#df = df.loc[df['TYPE'] == 'Received']
# Then drop Column type
#del df['TYPE']

In [ ]:
# Read file (pirkle format)
#df = pd.read_pickle(workfile)

In [ ]:
#df['NAME_NUMBER'] = df['NAME/NUMBER'].astype('string')
#df['MESSAGE BODY'] = df['MESSAGE BODY'].astype('string')

In [ ]:
#df['message_body'] = df['MESSAGE_BODY']
#df['name_number'] = df['NAME_NUMBER']
#df['date_time'] = df['DATE']
#df = df[["name_number","date_time","message_body"]]

In [15]:
# Some filename variables
file_raw_csv ="texts/sms-20211122_raw.csv"
file_work_pkl = "texts/sms-20211122_work.pkl" # In pickle format
file_work_csv = "texts/sms-20211122_work.csv"
# for Year 2018
file_work_2018_pkl = "texts/sms-20211122_work_2018.pkl"
file_work_2018_csv = "texts/sms-20211122_work_2018.csv"
file_work_small2018_pkl = "texts/sms-20211122_work_small2018.pkl"
file_work_small2018_csv = "texts/sms-20211122_work_small2018.csv"

file_train_2018_pkl = "texts/sms-20211122_train_2018.pkl"
file_train_2018_csv = "texts/sms-20211122_train_2018.csv"

In [4]:
df = pd.read_pickle(file_work_pkl)
print(df)

      name_number           date_time  \
0          Telkom 2018-08-20 11:16:00
1       SAFARICOM 2018-08-20 11:16:00
2        Whatsapp 2018-08-20 11:17:00
3         NICBANK 2018-08-20 11:20:00
4          Verify 2018-08-20 11:41:00
...           ...                 ...
12433        1500 2021-11-21 15:40:00
12434         910 2021-11-21 18:30:00
12435         905 2021-11-21 18:39:00
12436         905 2021-11-21 18:39:00
12437         905 2021-11-21 18:39:00

                                            message_body  year  month  day  \
0      Now you can surf the Internet. You can subscri...  2018      8   20
1      Usirudi kwa BODMAS na hesabu ya airtime. Get o...  2018      8   20
2      WhatsApp code 882-934. You can also tap on thi...  2018      8   20
3      Dear Customer,your mobile banking activation K...  2018      8   20
4      829643 is your verification code for Bonga (Be...  2018      8   20
...                                                  ...   ...    ...  ...
12433  Cher client, votre téléphone n’est pas configu...  2021     11   21
12434  BLA: QUAND DIEU DIT C'EST POUR TOI, C'EST VRAI...  2021     11   21
12435  Vous venez de recharger 4500.00 FCFA. Votre no...  2021     11   21
12436  Vous avez bien souscrit au Forfait data 4500F ...  2021     11   21
12437  Vous venez de recharger 1000.00 FCFA. Votre no...  2021     11   21

       hour category
0        11
1        11
2        11
3        11
4        11
...     ...      ...
12433    15
12434    18
12435    18
12436    18
12437    18

[10368 rows x 8 columns]

##### Feature Engineering

Some of the features that might be useful:

From the Date these columns:
- Day date.day
- Month date.month
- Year date.year
- Hour time.hour

When exploring financial transactions:
- Amount 
- Amount Categories 
- Currency

In [ ]:
# Save file
#df.to_pickle(work_file_pkl)
#df.to_csv(work_file_csv)

In [ ]:
#Create new columns: year, month, day, hour
#df['year'] = pd.DatetimeIndex(df['date_time']).year
#df['month'] = pd.DatetimeIndex(df['date_time']).month
#df['day'] = pd.DatetimeIndex(df['date_time']).day
#df['hour'] = pd.DatetimeIndex(df['date_time']).hour

In [ ]:
#Create category column - we'll first need to assign categories
#df['category'] = ""

In [7]:
#Select only 2018
df_2018 = df[df['year'] == 2018 ]

df_2018.to_pickle(file_work_2018_pkl)
df_2018.to_csv(file_work_2018_csv)

In [5]:
df_2018 = pd.read_pickle(file_work_2018_pkl)

In [6]:
print(df_2018)

     name_number           date_time  \
0         Telkom 2018-08-20 11:16:00
1      SAFARICOM 2018-08-20 11:16:00
2       Whatsapp 2018-08-20 11:17:00
3        NICBANK 2018-08-20 11:20:00
4         Verify 2018-08-20 11:41:00
...          ...                 ...
1972      Telkom 2018-12-31 18:05:00
1973      Telkom 2018-12-31 18:05:00
1974      Telkom 2018-12-31 18:50:00
1975      Telkom 2018-12-31 18:53:00
1976       MPESA 2018-12-31 21:21:00

                                           message_body  year  month  day  \
0     Now you can surf the Internet. You can subscri...  2018      8   20
1     Usirudi kwa BODMAS na hesabu ya airtime. Get o...  2018      8   20
2     WhatsApp code 882-934. You can also tap on thi...  2018      8   20
3     Dear Customer,your mobile banking activation K...  2018      8   20
4     829643 is your verification code for Bonga (Be...  2018      8   20
...                                                 ...   ...    ...  ...
1972  Hello, your balance is zero, please recharge y...  2018     12   31
1973  You are running low on credit. Please recharge...  2018     12   31
1974  You have received KSh150.00 Telkom Bonus & Ksh...  2018     12   31
1975  You have subscribed to Monthly Freedom 10GB va...  2018     12   31
1976  NA10VOHQ98 Confirmed. Ksh1,000.00 sent to MALC...  2018     12   31

      hour category
0       11
1       11
2       11
3       11
4       11
...    ...      ...
1972    18
1973    18
1974    18
1975    18
1976    21

[1534 rows x 8 columns]

#### Classifying
I have 1534 texts from Aug-Dec 2018. Not a perfect sampling - but will first work with ~10% of this. Smaller number to label, train and test.

### Initial Categories:

- FINANCIAL - Banks, MPESA, Bills - will go deeper
- INFO - (Spam half the time)
- PEOPLE

Quickly learning that labelling data will take far longer than expensive (it's tedious!)

T.B.C next time

In [22]:
# Select 10% of the 2018 DF to play around with

df_small2018 = df_2018.sample(frac=0.10).reset_index(drop=True)
df_small2018.to_pickle(file_work_small2018_pkl)
df_small2018.to_csv(file_work_small2018_csv)

In [65]:
df_small2018

,name_number,date_time,message_body,year,month,day,hour,category
0,StanChart,2018-10-31 06:01:00,KES 5342.00 was transfered from Acc. ending 60...,2018,10,31,6,FINANCIAL
1,ZUKU,2018-10-01 11:39:00,Dear Client. Following publication of Finance ...,2018,10,1,11,INFO
2,Safaricom,2018-12-17 07:57:00,Congratulations! You have received 25.00 KSH S...,2018,12,17,7,INFO
3,MALL4AFRICA,2018-10-30 16:16:00,THE CHEAPEST SHIPPING PROMOTION is live! Shop ...,2018,10,30,16,INFO
4,Ashraf (+254720988242),2018-10-08 17:57:00,Thanks Josiah for info we first sort our plot ...,2018,10,8,17,PEOPLE
...,...,...,...,...,...,...,...,...
148,Kuki (+254714703764),2018-12-28 18:11:00,thanx 4 the credo,2018,12,28,18,PEOPLE
149,StanChart,2018-09-12 19:31:00,You are adding WANG XIN MEI as a beneficiary o...,2018,9,12,19,FINANCIAL
150,Sam Gitau (+254723539381),2018-10-18 06:05:00,"Okay, thanks",2018,10,18,6,PEOPLE
151,22429,2018-12-07 09:38:00,Is your passport lost or damaged? Getting a re...,2018,12,7,9,INFO
152,Marsha Macharia (+254721234928),2018-12-18 16:47:00,Noooo :( I'm going back tomorrow for the resul...,2018,12,18,16,PEOPLE

In [58]:
df_small2018 = pd.read_csv(file_work_small2018_csv)

In [64]:
df_small2018 = df_small2018.iloc[: , 1:]

In [66]:
df_small2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name_number   153 non-null    string
 1   date_time     153 non-null    datetime64[ns]
 2   message_body  153 non-null    string
 3   year          153 non-null    int64
 4   month         153 non-null    int64
 5   day           153 non-null    int64
 6   hour          153 non-null    int64
 7   category      153 non-null    category
dtypes: category(1), datetime64[ns](1), int64(4), string(2)
memory usage: 8.8 KB

In [61]:
df_small2018['date_time'] = pd.to_datetime(df_small2018['date_time'], infer_datetime_format=True)
df_small2018['name_number'] = df_small2018['name_number'].astype('string')
df_small2018['message_body'] = df_small2018['message_body'].astype('string')
df_small2018['category'] = df_small2018['category'].astype('category')

In [67]:
# Refreshing how to do train / test selections
# option 1 - will try train + test with this sampling 
df_train_2018 = df_small2018.sample(frac=0.8,random_state=200).reset_index(drop=True) #random state is a seed value
df_test_2018 =  df_small2018.drop(df_train_2018.index).reset_index(drop=True)

In [68]:
df_train_2018

,name_number,date_time,message_body,year,month,day,hour,category
0,Rael Mugambi (+254722913252),2018-08-22 15:49:00,Or we do the thing on 25th for your folks?,2018,8,22,15,PEOPLE
1,2.54713E+11,2018-09-27 06:20:00,We are already on the ground.,2018,9,27,6,PEOPLE
2,StanChart,2018-09-05 15:13:00,KES 1750.00 transaction was made on card endin...,2018,9,5,15,FINANCIAL
3,NICBANK,2018-10-09 14:51:00,"Dear JOSIAH, a transaction of KES 103.98 done ...",2018,10,9,14,FINANCIAL
4,BAUSOPTICAL,2018-12-07 11:05:00,"Merry Christmas, visit our china center branch...",2018,12,7,11,INFO
...,...,...,...,...,...,...,...,...
117,22429,2018-10-17 13:54:00,"When applying for your e-Passport, please ensu...",2018,10,17,13,INFO
118,MPESA,2018-10-01 12:03:00,"MJ16YP2E4M Confirmed. Ksh1,600.00 paid to BUY ...",2018,10,1,12,FINANCIAL
119,SBMBANK,2018-09-29 05:03:00,"Dear Customer, following gazettement of the Fi...",2018,9,29,5,FINANCIAL
120,CBALOOP,2018-09-12 13:49:00,"Hi Josiah, what can you do with 1GB of data? T...",2018,9,12,13,FINANCIAL
121,Telkom,2018-09-25 11:44:00,Special Offer Just for you! Top up your line t...,2018,9,25,11,INFO

In [ ]:
df_test_2018

In [70]:
# Manually categorize via a spreadsheet (I'm sure there are other options) so first dump the file to a csv:

df_train_2018.to_pickle(file_train_2018_pkl)
df_train_2018.to_csv(file_train_2018_csv)

In [42]:
df_train_2018 = pd.read_csv(file_train_2018_csv)

#df_train_2018 = pd.read_pickle(file_train_2018_pkl)

In [71]:
# First attempt a random forest classifier with minimum tinkering of various parameters:
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=2, random_state=0)
X = df_train_2018.drop('category', axis=1)
y = df_train_2018['category']

In [72]:
#
# clf.fit(X, y)

#this throws an error - should have known. -> ValueError: could not convert string to float:
# X expects int or floats (or categories) and not a string. 

# need to figure out what to do net

ValueError: could not convert string to float: 'Rael Mugambi (+254722913252)'